.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  padding: .5rem 1rem; // 8px 16px
  border: 1px solid transparent;
  border-radius: .25rem;
  font-size: 1rem;
  line-height: 1.5;
  transition: all .3s ease-in-out; 
}

// gold
.button-gold {
  background-color: gold;
  background-image: linear-gradient(gold, darken(gold, 10%));

  @include hover {
    background-color: darken(gold, 10%);
    background-image: linear-gradient(gold, darken(gold, 20%));
  }
}