@font-face {
  font-family: 'Stag Book';
  src: url('../fonts/stag/Stag-Book.otf');
  src: url('../fonts/stag/Stag-Book.otf') format('opentype');
}

@font-face {
  font-family: 'Stag Medium';
  src: url('../fonts/stag/Stag-Medium.otf');
  src: url('../fonts/stag/Stag-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Stag SemiBold';
  src: url('../fonts/stag/Stag-SemiBold.otf');
  src: url('../fonts/stag/Stag-SemiBold.otf') format('opentype');
}